<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="Way2AutomationTestLayerPackage.FrameandWindow"/>
      <class name="Way2AutomationTestLayerPackage.WidgetTabTest"/>
      <class name="Way2AutomationTestLayerPackage.RegistrationTestClass"/>
      <class name="Way2AutomationTestLayerPackage.AlertTestJava"/>
      <class name="Way2AutomationTestLayerPackage.InteractionPageTest"/>
      <class name="Way2AutomationTestLayerPackage.TestHome"/>
      <class name="Way2AutomationTestLayerPackage.DynamicElementTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
